<h1>Restaurant <%= @restaurant.name %> </h1>

<p><%= @restaurant.name %>, <%= @restaurant.category %></p>

<%= link_to "Back to Restaurant", restaurants_url %> | <%= link_to "Edit", restaurants_path(@restaurant) %>